{
  "API": "",
  "CaseCode": "Off",
  "Dependencies": [
  ],
  "DevelopmentFolders": [
  ],
  "DevelopmentSpaces": [
  ],
  "KeepHistory": "Off",
  "OnApplicationStartup": "",
  "OnBuild": "",
  "OnSave": "",
  "ProjectSpace": "#.PracticalAPL",
  "StartUp": "",
  "URL": "https://github.com/the-carlisle-group/PracticalAPL",
  "Variables": "On",
  "Version": "0.0.0"
}
